Source: cutefish-debinstaller
Section: devel
Priority: optional
Maintainer: CutefishOS <support@cutefishos.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev,
               qt6-l10n-tools,
               libapt-pkg-dev
Standards-Version: 4.5.0
Homepage: https://cutefishos.com/

Package: cutefish-debinstaller
Architecture: any
Depends: qml6-module-qtquick-controls2,
         qml6-module-qtqml,
         qml6-module-qtquick2,
         qml6-module-qtquick-layouts,
         qml6-module-qt-labs-platform,
         qml6-module-qt-labs-settings,
         qml6-module-qtquick-window2,
         qml6-module-qtquick-shapes,
         qml6-module-qtquick-dialogs,
         ${misc:Depends},
         ${shlibs:Depends}
Description: CutefishOS Deb Installer
 A modern and user-friendly Debian package installer for CutefishOS.